<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{#block "htmlTitle"}}{{service.name}}{{/block}}</title>
    <link rel="stylesheet" media="screen" href="{{docsContext.resourcesPath}}/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" media="screen" href="{{docsContext.resourcesPath}}/lib/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" media="screen" href="{{docsContext.resourcesPath}}/css/styles.css" />
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand">{{service.name}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{docsContext.baseUrl}}">Go to Overview</a></li>
              <li><a href="#">Go to HAL Browser</a></li>
              <li><a href="#">About HAL API Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="browser" class="container-fluid">

{{#block "content"}}
{{/block}}
      
    </div>

  </body>
</html>
